{% extends 'core/base.html' %}
{% block title %}Reservaciones{% endblock %}
{% block header %}site-header{% endblock %}
{% block content %}
{% load static %}
<div class="table mostrar">
    <table border="1" id="example">
        <thead>
            <th class="ocultar">#</th>
            <th class="ocultar">Cliente</th>
            <th class="ocultar">Email</th>
            <th class="ocultar">Usuario</th>
            <th>Habitacion</th>
            <th>Fecha</th>
        </thead>
        <tbody>
            {% for reser in reser %}
            {% if reser.user == user.username %}
            <tr>
                <td class="ocultar">{{reser.id}}</td>
                <td class="ocultar">{{reser.cliente}}</td>
                <td class="ocultar">{{reser.mail}}</td>
                <td class="ocultar">{{reser.user}}</td>
                <td>{{reser.room}}</td>
                <td>{{reser.date}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}